:root {
    --main-padding: 0.4rem;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #171615;    
    font-family: 'Lato', sans-serif;
    height: 100vh;
    text-align: center;
}
nav {
    grid-area: nav-container;
    padding: var(--main-padding);
}

#nav-container a {
    color: #F5CD08;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    font-size: 21px;
    border: 1px solid #F5CD08;
    text-transform: uppercase;
    transition: 0.1s;
}

#nav-container a:hover {
    transform: scale(1.15);
    color: #EB6123;
    border: 1px solid #EB6123;
}

#main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "snacks drinks entertainment"
    "img-gallery img-gallery img-gallery"
    ;
}

#snacks {

    background-color: #EB6123;
    grid-area: snacks;
    padding: var(--main-padding);
}

#drinks {
    background-color: #F5CD08;
    grid-area: drinks;
    padding: var(--main-padding);
}

#entertainment {
    background-color: #EB6123;
    grid-area: entertainment;
    padding: var(--main-padding);
}

#img-gallery {

}

#footer {

}
